* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    scroll-behavior: smooth;
}

body {
    background: white;
    background: url('../img/aee.jpg') top center / cover no-repeat;
}

section {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.firework {
    /* position: fixed; */
}

.content {
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h2 {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 8em;
    line-height: 1.4;
    text-align: center;
}

.content h2 b {
    color: rgb(39, 75, 194);
    -webkit-text-stroke: 0 white;
}